@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

:root {
  --white: rgba(255, 255, 255, 0.87);
  --btnhover: #5b5b5b;
  --btnactive: #8a8a8a;
  --accent: #c37d26;
  color: var(--white);
  background-color: #242424;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

* {
  font-family: "Poppins", "Arial";
  font-weight: 400;
}
.sidebar {
  background-color: #111010;

  width: 15%;
  height: 100vh;
  border-right: 2px rgb(52, 52, 52) solid;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.sidebar[mode="light"] {
  border: none;
}
.navbar {
  display: none;
  width: 100%;
  height: 7.5vh;
  background-color: #111010;
  align-items: center;
  /* justify-content: space-evenly; */
  flex-direction: row;
}
.navbar[mode="light"] {
  background-color: #ffffff;
  border-bottom: solid 2px var(--accent);
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .navbar {
    display: flex;
  }
}

.parent {
  display: flex;
  flex-direction: row;
}
.parent[mode="light"] {
  background-color: #f7f7f7;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sb-l {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  /* background-color: red; */
  width: 90%;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  margin: 10px;
  transition: all ease 0.2s;
  padding: 10px;
}

.sb-l:hover {
  background-color: var(--btnhover);
}

.sb-l:active {
  background-color: var(--btnactive);
}

.sb-l:hover[mode="light"] {
  background-color: rgb(218, 218, 218);
}
.sb-l:active[mode="light"] {
  background-color: rgb(176, 176, 176);
}

.sb-l > p {
  margin-left: 20px;
}

.banner {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.searchParent {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchResText {
  margin-top: 4px;
  margin-left: 27.5%;
}

.manhr {
  background-color: var(--accent);
  width: 100%;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.navBanner {
  max-height: 5vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.darkModeToggleNav {
  position: absolute;
  left: 10px;
}
